@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Noto+Sans+Warang+Citi&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img,
picture,
svg {
  display: block;
  max-width: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Noto Sans Warang Citi", sans-serif;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
h3 {
  font-family: "Handlee", cursive;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 400;
}

header {
  background-color: white;
  margin: 1rem 1.4rem;
}
header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* harmburger btn */
.harmburger-btn #check,
.toggle-btn {
  display: none;
}
.checkbtn {
  font-size: 1.4rem;
  color: black;
  cursor: pointer;
}
#check:checked ~ .nav-mobile {
  display: block;
}
.nav-mobile {
  display: none;
}
.nav-mobile {
  position: absolute;
  top: 4.5rem;
  left: 0;
  background: black;
  z-index: 1;
  width: 200px;
}
.nav-mobile a {
  color: #fff;
  padding: 1rem 1.5rem;
  display: block;
  text-decoration: none;
}

header .nav h1 {
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  color: #151515;
  font-family: "Shantell Sans", cursive;
}
header .nav button {
  padding: 0.5rem 2rem;
  border-radius: 3px;
  background-color: #121212;
  color: white;
  outline: 0;
  cursor: pointer;
}
/* rsvp modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-container {
  position: relative;
  background-color: #fff;
  margin: 6% auto;
  padding: 0.8rem 1.4rem;
  width: 50%;
}
.modal-content {
  padding-block: 1rem;
}
.modal-content .m-heading h3{
  font-size: 1.8rem;
  letter-spacing:.4rem;
}
.modal-content .m-heading p {
  padding-top: .2rem;
  text-align: center;
}
.modal-content .rsvp-form {
  padding-block: 1rem 0.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem; 
  text-align:left
}
.rsvp-form, label {
  font-size:0.875rem;
}
.rsvp-form input[type="text"],
input[type="number"] {
  width: 100%;
  padding:0.6rem;
  margin-block:0.5rem 1rem;
  border: none;
  outline: none;
  border-radius:5px;
  background-color:#f7f7f7;
}
.modal-content .confirmation h4{
  font-weight:400;
}
.modal-content .radio-group{
  display:flex;
  flex-direction:column;
  margin-top:0.5rem;
  gap:0.6rem
}
.modal-content button.f-submit {
  width: 100%;
  background-color: black;
  color: #FFEC9E;
  margin-top: 1.6rem;
  cursor:pointer;
}
.modal-content button:hover{
  background-color: transparent;
  color: black;
  transition: all 0.5s ease-in;
}

/* other sections */
.location {
  padding-block: 4rem;
  margin-block: 1rem 10rem;
  position: relative;
}
.container {
  padding-inline: 2rem;
}
.location .container {
  display: flex;
  gap: 6rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
}
.container .svd {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateX(-45%) rotate(-90deg);
  padding: 6px;
  font-size: 1.8rem;
  letter-spacing: 12px;
  z-index: 1;
  color: rgba(0, 0, 0, 0.3);
}
.container .c-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.6rem;
}
.container .c-details h4 {
  padding-bottom: 0.8rem;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}
.container .c-details p {
  font-size: 1.6rem;
}
.container .img-collage {
  position: relative;
}
.img-collage img:nth-child(2) {
  position: absolute;
  top: 180px;
  right: 40px;
}

.photos {
  margin: 6rem 1rem;
}
.photos h3 {
  padding-bottom: 12px;
}
.photos .photo-collage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 1.2rem;
}
.photo-collage .ph1 {
  width: 500px;
}
.photo-collage .ph1,
.ph2 {
  height: 500px;
}
.photo-collage .column img {
  height: 250px;
  width: 300px;
}
.column img + img {
  padding-top: 6px;
}

.couple-story {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-top: 1.2rem;
}
.couple-story p {
  padding-block-end: 0.6rem;
  line-height: 30px;
}
.couple-story span {
  font-weight: bold;
  padding-top: 12px;
}

.schedule {
  margin-block: 4rem;
  text-align: center;
}
.schedule p {
  padding-top: 0.8rem;
  text-transform: uppercase;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1.2rem;
  gap: 1rem;
}
.details .FAQ {
  width: 55%;
}
.quest + .quest {
  padding-top: 1.2rem;
}
.quest span {
  font-weight: 600;
}
.quest p {
  padding-top: 0.4rem;
}
.details img {
  width: 380px;
  height: 480px;
}

#rsvp {
  margin-block: 4rem;
}
#rsvp .c-content {
  text-align: center;
  padding-top: 1.2rem;
}
.c-content button {
  margin-top: 1.4rem;
  background-color: black;
  color: white;
  padding: 0.4rem 1rem;
  cursor: pointer;
  outline: none;
  border: 1px solid black;
}
button.rsvp-btn:hover,
button:focus {
  background-color: transparent;
  color: black;
  transition: all 0.5s ease-in;
}

footer {
  text-align: center;
  padding-bottom: 1rem;
}
footer span {
  font-size: 2.4rem;
  font-family: "Handell", cursive;
}

@media only screen and (max-width: 1120px) {
  .photo-collage .ph1 {
    width: 310px;
  }
}
@media only screen and (max-width: 992px) {
  .checkbtn {
    display: block;
  }
  .nav-mobile {
    width: 100%;
    height: 40%;
  }
  .modal .modal-container {
    width: max-content;
    margin: 14% auto;
    padding: 0.8rem 1.6rem;
  }
  .photo-collage .ph1 {
    width: 340px;
  }
  .photo-collage .column {
    display: flex;
    gap: 10px;
  }
  .photo-collage .column img {
    height: auto;
  }
  .column img + img {
    padding: 0;
  }
  .couple-story {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
}
@media only screen and (max-width: 660px) {
  .location .container {
    flex-direction: column;
    gap: 20px;
  }
  .img-collage img:nth-child(2) {
    position: absolute;
    top: 180px;
    right: 23px;
  }
  .photo-collage .ph1,
  .ph2 {
    height: auto;
    width: 100%;
  }
  .photo-collage .column {
    display: block;
  }
  .photo-collage .column img {
    height: auto;
    width: 660px;
  }
  .column img + img {
    padding-top: 10px;
  }
  .details {
    flex-direction: column-reverse;
    & .FAQ {
      width: 100%;
    }
  }
}
